<launch>
  <!-- the "sim" argument controls whether we connect to a Simulated or Real robot -->
  <!--  - if sim=false, a ip_address argument is required -->
  <arg name="sim" default="true" />
  <arg name="ip_address" default="192.168.0.1" />

  <!-- If you want to change send and recieve format of denso_robot_control, -->
  <!-- you can specify the send_format and recv_format parameters -->
  <arg name="send_format" default="288" />
  <arg name="recv_format" default="292" />

  <include file="$(find denso_robot_bringup)/launch/denso_robot_bringup.launch">
    <arg name="robot_name" value="vs060_hand"/>
    <arg name="sim" value="$(arg sim)"/>
    <arg name="ip_address" value="$(arg ip_address)"/>
    <arg name="send_format" value="$(arg send_format)" />
    <arg name="recv_format" value="$(arg recv_format)" />
  </include>

  <group if="$(arg sim)">
    <!-- Spawning objects with python script -->
    <!-- <env name="GAZEBO_MODEL_PATH" value="$(find denso_robot_gazebo)/models"/>
    <node pkg="denso_robot_gazebo" name="spawn_objects" type="spawn_objects" /> -->
    <!-- Launching realsense_plugin -->
    <param name="camera_description" command="$(find xacro)/xacro '$(find realsense_gazebo_plugin)/urdf/rs200_simulation.xacro'"/>
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param camera_description -model rs200"/>
    <include file="$(find realsense_gazebo_plugin)/launch/depth_proc.launch"/>
  </group>  
</launch>